﻿@using MySQL.Models
@model MySQL.Entities.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
@if (Model.id == 0)
{
    @:Create Product
}
else
{
    @:Edit @Model.name
}
</h2>

<div class="panel">
@using (Html.BeginForm("Edit", "Home"))
{
    <div class="panel-body">
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @Html.ValidationSummary()
            </div>
        }
        
        @Html.HiddenFor(m => m.id)

        <div class="form-group">
            @Html.LabelFor(m => m.name)
            @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.description)
            @Html.TextAreaFor(m => m.description, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.price)
            @Html.TextBoxFor(m => m.price, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.category_id)
            @Html.DropDownListFor(m => m.category_id, CategoryModel.GetCategoriesList(), "Select", new { @class = "form-control" })
        </div>
    </div>
    
    <div class="panel-footer">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
}
</div>
