﻿@using MySQL.Entities
@model IEnumerable<Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="row">@Html.ActionLink("Create", "Create", new { }, new { @class = "btn btn-default" })</div>

@if (TempData["message"] != null)
{
    <div class="alert alert-success">@TempData["message"]</div>
}

@if (Model.Count() > 0)
{
    <table>
        @foreach (var p in Model)
        {
            <tr>
                <td><h4>@p.name</h4></td>
                <td>@p.description</td>
                <td>@p.price.ToString("c")</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = p.id }, new { @class = "btn btn-default" })
                </td>
                <td>
                    @using (Html.BeginForm("Delete", "Home"))
                    {
                        @Html.Hidden("id", p.id)
                        <input type="submit" class="btn btn-default" value="Delete" />
                    }
                </td>
            </tr>
        }
    </table>

}
else
{
    <p>Nothing to display</p>
}
